@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.card {
  margin: auto;
  width: 75%;
  margin-bottom: 40px;
}

.cardTitle{
  background-color: #F5F5F5;
}

.main{
  background-color: #EEEEEE;
}

.searchForm{
  margin:0 auto;
  text-align: center
}

.searchBar{
  margin:0 auto;
  width: 50%;
  text-align: center;
  border-bottom-width: 2px;
}

.spinner{
  margin:0 auto;
  text-align: center;
}
